<?xml version="1.0"?>

<configuration>

	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<!--<section name="instrumentationConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Instrumentation.Configuration.InstrumentationConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		--><section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<!--<instrumentationConfiguration performanceCountersEnabled="true" eventLoggingEnabled="true" wmiEnabled="false"/>
-->
	<connectionStrings>
		<add name="Hub" connectionString="Server=POPPYWOOD;Database=metrics;Integrated Security=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
		<sources>
			<add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	
	<appSettings>
		<add value="Server=POPPYWOOD;Database=metrics;Integrated Security=True" key="ConnectionInfo"/>
	</appSettings>

  
</configuration>
