<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="netTiersService"
      type="Qasar.DataAccessLayer.Bases.NetTiersServiceSection, Qasar.DataAccessLayer"
      allowDefinition="MachineToApplication"
      restartOnExternalChanges="true" />
  </configSections>
  <connectionStrings>
    <add name="netTiersConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;uid=sa;pwd=sa;Connection Timeout=200" />
    </connectionStrings>
  <netTiersService defaultProvider="SqlNetTiersProvider">
    <providers>
      <add 
        name="SqlNetTiersProvider" 
        type="Qasar.DataAccessLayer.SqlClient.SqlNetTiersProvider, Qasar.DataAccessLayer.SqlClient"
        connectionStringName="netTiersConnectionString"
        useStoredProcedure="false"
        providerInvariantName="System.Data.SqlClient" />
    </providers>
  </netTiersService>
  <system.web>
    <compilation debug="true" />
    <webServices>
      <protocols>
        <add name="AnyHttpSoap"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>