<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add value="Data Source=tcp:192.168.91.129,1433;Initial Catalog=metrics;uid=sa;pwd=amazon3008" key="ConnectionInfo"/>
  </appSettings>
  <!--
  <appSettings>
    <add value="Data Source=localhost;Initial Catalog=metrics;Integrated Security=SSPI;" key="ConnectionInfo"/>
  </appSettings>-->
  <!--
  	<appSettings>
		<add value="MultipleActiveResultSets=True;Server=.\SQLEXPRESS;Database=metrics;uid=sa;pwd=sa" key="ConnectionInfo"/>
	</appSettings>
-->
  <connectionStrings/>
  <log4net>
    <logger name="Logger">
      <level value="All" />
      <appender-ref ref="RollingFile" />
    </logger>
    <!-- Regular Log Files -->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="c:\temp\log.txt"></file>
      <appendtofile value="true"></appendtofile>
      <maximumfilesize value="256MB"></maximumfilesize>
      <maxsizerollbackups value="2"></maxsizerollbackups>
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%newline%date [%thread] %-5level %logger [%property] - %message%newline"></conversionpattern>
      </layout>
    </appender>

    <!-- Specifying the logger -->
    <root>
      <appender-ref ref="RollingFile"></appender-ref>
    </root>
  </log4net>
</configuration>